/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700&display=swap');

body {
  background-color: #363636;
  color: white;
  margin: 0;
  padding: 0;
  font-family: 'Figtree', sans-serif;
}

// Global Custom Scrollbar
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.2) rgba(255, 255, 255, 0.05);
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;

  &:hover {
    background: rgba(255, 255, 255, 0.3);
  }
}
